<nav class="navbar bg-white navbar-light navbar-expand-sm" style="letter-spacing: 0.1em; font-size: .9rem;">
    <div class="container-fluid">
        <div class="navbar-collapse">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a href="/Impressum" class="nav-link">Impressum</a>
                </li>
                @*
                <li class="nav-item">
                    <a href="/Datenschutz" class="nav-link">Datenschutz</a>
                </li>
                *@
                <li class="nav-item">
                    <a href="https://naturlichtfoto.de" target="_blank" class="nav-link mb-1"><span>&#128247;</span> by Naturlichtfoto</a>
                </li>
                <li class="nav-item">
                    <a @*href="https://www.innone.de"*@ target="_blank" class="nav-link mb-1">Made with <span style="color: #e25555;">&#10084;</span> by InnOne</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

@code {

}