<div class="col-sm row text-black py-2">
    <div class="text-center">
        <img class="pb-2" src="@ImageSrc" alt="@Text" style="object-fit: cover; width: 100%; max-width: 50vw"/>
    </div>
    <div class="text-center py-3" style="font-size: 1.2em">
        @Text
    </div>
    <div class="p-0 text-center align-self-end">
        <MoreButton href="@href"/>
    </div>
</div>

@code {

    [Parameter]
    public string href { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string ImageSrc { get; set; }
}