<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top shadow" style="letter-spacing: 0.1em; font-size: .9rem; min-height: var(--navbarHeight);">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mx-1 my-1">
                <li class="nav-item">
                    <a href="#main" class="nav-link active">Start</a>
                </li>
                <li class="nav-item">
                    <a href="#seite3" class="nav-link">Angebote</a>
                </li>
                <li class="nav-item">
                    <a href="#gesangscoaching" class="nav-link">Gesangscoaching</a>
                </li>
                <li class="nav-item">
                    <a href="#klavierunterricht" class="nav-link">Klavierunterricht</a>
                </li>
                <li class="nav-item">
                    <a href="#hochzeitsduo" class="nav-link">Hochzeitsduo</a>
                </li>
                <li class="nav-item">
                    <a href="#preise" class="nav-link">Preise</a>
                </li>
                <li class="nav-item">
                    <a href="#ueber" class="nav-link">Über mich</a>
                </li>
                <li class="nav-item">
                    <a href="#kontakt" class="nav-link">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
}