<div id="seite3" class="container-fluid bg-foamwhite">
    <div class="align-items-stretch row justify-content-center mx-auto py-5" style="font-size: 0.8rem; line-height: 1.4em; letter-spacing: 0.3em; max-width: 1200px">

        <LinkCard href="#gesangscoaching" ImageSrc="images/img_2943.jpg" Text="Gesangscoaching"/>
        <LinkCard href="#hochzeitsduo" ImageSrc="images/img_3012.jpg" Text="Hochzeitsduo"/>
        <LinkCard href="#klavierunterricht" ImageSrc="images/img_3011.jpg"  Text="Klavierunterricht"/>

    </div>
</div>

@code {
}