<div id="gesangscoaching" class="container-fluid bg-gesangscoaching">
    <div class="d-flex align-self-center pb-2 px-3">
        <img src="images/handwriting_1.png" alt="Ich freue mich auf unsere gemeinsame Entdeckungsreise!"
             class="mt-3 align-self-center"
             style="object-fit: contain; object-position: center; max-width: 40%">
    </div>
    <div class="align-items-center row justify-content-center fullHeight90">
        <div class="col-md-5 my-2">
            <div class="text-black h1 pb-2" style="overflow-x: hidden">
                @*
                <div style="margin-left: 20%">
                    <div class="character_justify">
                        ganzheitliches
                    </div>
                </div>
                *@
                <div class="character_justify">
                    Gesangscoaching
                </div>
            </div>
            <div class="text" style="font-size: .9rem; line-height: 1.4em; letter-spacing: .1em">
                Viele Menschen denken sie können nicht singen, aber das ist nicht wahr. Singen ist entdecken, am
                meisten
                Dich selbst. Du bist ein Instrument und es ist nur natürlich, wenn Du ein Instrument noch nie so
                richtig
                benutzt hast, dass Du es auch nicht spielen kannst.
                <br>
                <br>
                Nichts anderes ist das beim Singen. Du musst einfach herausfinden, wie du funktionierst. Es ist ganz
                einfach und auch sehr wichtig in deinem Körper Begeisterung dafür zu wecken, sodass Unsicherheit und
                Angst weichen muss. Wenn du erst einmal gespürt hast, dass alle Töne eigentlich schon da sind und du
                nur
                Raum schaffen musst für sie, kommst du von der Leistungsebene auf die Entdeckerebene, auf der man
                sich
                mit großer Leichtigkeit schnell weiterentwickeln kann. Denn was dein Körper annimmt, das wird
                sogleich
                der Boden für den nächsten Lernschritt.
                <br>
                <br>
                Mit dieser fantastischen Lernmethode erhältst du große Kompetenz. Du lernst wirklich zu bestimmen,
                was
                aus deinem Mund herauskommen soll. Es gibt ja viele verschiedene Musikstile und dann ist da noch
                dein
                persönlicher Charakter. All das will sich in einer ziemlichen Bandbreite ausdrücken, erst dann macht
                es
                richtig Freude.
                <br>
                <br>
                Natürlich ist auch eine absolut gesunde Gesangstechnik das Ergebnis dieser Herangehensweise. Nur was
                reibungslos funktioniert kann mit Leichtigkeit und Freiheit präsentiert werden und die Freude an
                Deiner
                Stimme soll Dir möglichst lange erhalten bleiben.
            </div>
        </div>
        <div class="col-md-4 my-2 mx-5">
            <img src="images/IMG_2944.JPG" alt="Sängerin" style="object-fit: cover; width: 100%"/>
        </div>
    </div>
</div>

@code {
    
}