<div id="hochzeitsduo" class="bg-musikalische-untermalung py-3">

    <div class="align-items-center row justify-content-center pt-5 mx-auto" style="max-width: 1200px">
        <div class="col my-2" style="@(!isMobile ? "max-width: 35%" : "")">
            <div class="text-black h1 pb-2">
                <div class="character_justify" style="overflow-x: hidden">
                    Hochzeitsduo
                </div>
            </div>
            <div class="text">
                @{
                    var hochzeitsduoTextCollapsed = "Ich singe für mein Leben gern und liebe es, die passende Musik zu Eurem Fest (kirchliche oder standesamtliche Hochzeit oder Taufe) beizusteuern. Zusammen mit der wunderschönen Stimme von meinem Gesangspartner Christopher Edelmann, wollen wir gerne eure Herzen berühren und euer Fest noch feierlicher und professionell mitgestalten.";
                    var hochzeitsduoTextExpanded = "Wir singen im Duett aus sämtlichen Musikrichtungen mit Klavierbegleitung. Gerne senden wir euch Hörproben und unser Repertoire zu, auch Wunschlieder sind möglich.\n\nEin Stage-Piano für die Klavierbegleitung ist vorhanden und wird bei Auftritten kostenlos gestellt.";
                }

                <ExpandableText DefaultText="@hochzeitsduoTextCollapsed" ExpandedText="@hochzeitsduoTextExpanded"/>

                @if (isMobile)
                {
                    <div class="float-end my-3 align-self-end" style="max-width: 400px">
                        <img src="images/duo.jpg" alt="Sängerin" style="object-fit: cover; width: 100%"/>
                    </div>
                }

                <div class="h5 mt-5">
                    Hörproben gerne auf <a style="color: black" href="mailto:jhw@musik-passau.de">Anfrage</a>! 
                </div>
            </div>
        </div>
        @if (!isMobile)
        {
            <div class="col m-0 ms-3 mt-3 align-self-end" style="max-width: 1000px">
                <img src="images/duo.jpg" alt="Sängerin" style="object-fit: cover; width: 100%"/>
            </div>
        }
    </div>
</div>

<MediaQuery Media="@Breakpoints.SmallDown" @bind-Matches="isMobile"/>

@code {

    private bool isMobile;

}