<div id="kontakt" class="bg-kontakt p-5">

    <div class="row">
        <div class="col px-0">
            <img src="images/IMG_2974.JPG" style="object-fit: contain; width: 100%" alt="Bild">
        </div>
        <div class="col px-0">
            <img src="images/IMG_2932.JPG" style="object-fit: contain; width: 100%" alt="Bild">
        </div>
        <div class="col px-0">
            <img src="images/IMG_2948.JPG" style="object-fit: contain; width: 100%" alt="Bild">
        </div>
        <div class="col px-0">
            <img src="images/IMG_2967.JPG" style="object-fit: contain; width: 100%" alt="Bild">
        </div>
        <div class="col px-0">
            <img src="images/IMG_2980.JPG" style="object-fit: contain; width: 100%" alt="Bild">
        </div>
    </div>

    <h1 class="text-center p-4">Kontakt</h1>

    <div class="row p-0">
        <div class="col-sm">
            <p>Workshops</p>
            <a href="mailto:workshop@musik-passau.de">workshop@musik-passau.de</a>
        </div>
        <div class="col-sm text-center">
            <p>Jasmin Wolf<br>Voglau 19<br>94032 Passau<br>Tel. 0170-8918078</p>
            <a href="https://www.musik-passau.de">www.musik-passau.de</a>
            <a href="mailto:jhw@musik-passau.de">jhw@musik-passau.de</a>
        </div>
        <div class="col-sm text-end">
            <p>Hörproben und Repertoire</p>
            <p>Dropboxlink</p>
        </div>
    </div>

</div>

@code {
    
}