<div id="hochzeitsduo" class="bg-musikalische-untermalung">
    <div class="d-flex justify-content-center">
        <div class="px-4">
            <div class="my-4 h1" style="text-align: left; letter-spacing: .3em; margin-right: -.3em">
                Hochzeitsduo
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="text" style="font-size: .9rem; line-height: 1.4em; letter-spacing: .1em">
                        Ich singe für mein Leben gern und liebe es, die passende Musik zu Eurem Fest (kirchliche
                        oder
                        standesamtliche Hochzeit oder Taufe) beizusteuern. Zusammen mit der wunderschönen Stimme von
                        meinem
                        Gesangspartner Christopher Edelmann, wollen wir gerne eure Herzen berühren und euer Fest
                        noch
                        feierlicher und professionell mitgestalten. Wir singen im Duett aus sämtlichen
                        Musikrichtungen
                        mit
                        Klavierbegleitung. Gerne senden wir euch weitere Hörproben und unser Repertoire zu, auch
                        Wunschlieder sind möglich.
                        <br>
                        <br>
                        Ein Stage-Piano für die Klavierbegleitung ist vorhanden und wird bei Auftritten kostenlos
                        gestellt.
                    </div>
                    <div class="h3 mt-5">
                        Hier könnte Ihre Hörprobe stehen!
                    </div>
                </div>
                <div class="col-8 ps-4">
                    <img src="images/4S8A2103.jpg" alt="Sängerin" style="object-fit: cover; width: 100%"/>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    
}