<div id="seite2" class="container-fluid bg-grey">
    <div class="align-items-center row justify-content-center fullHeight90">
        <div class="col-md-7">
            <div class="text-black h1 pb-2">
                <div style="text-align: center; letter-spacing: .5em">
                    „Ohne Musik wäre
                </div>
                <div class="character_justify" style="overflow-x: hidden">
                    das Leben ein Irrtum“
                </div>
            </div>
            <div class="text">
                In unserer Welt schwingen Millionen Frequenzen, ohne die unser Dasein undenkbar wäre, so auch Musik.
                Die Wellen der Töne durchdringen mit Leichtigkeit unsere festen Körper und verhelfen mit ihren
                Schwingungen
                zu großen und kleinen Wundern. Musik dringt bis in unsere Seele und kann uns auf viele Arten verändern,
                neue Erfahrungen schenken und erfreuen. Lass Dir diese Erfahrung nicht entgehen!
            </div>
        </div>
    </div>
</div>

@code {
    
}