<div id="seite2" class="container-fluid bg-grey">
    <div class="d-flex flex-column mx-auto justify-content-center px-4 py-5 @(!isMobile ? "fullHeight70" : "")" style="max-width: 1000px">
        <div class="px-0 py-5">
            <div class="text-black h1 pb-4">
                
                @if (!isMobileSmall)
                {
                    <div style="text-align: center; letter-spacing: .5em">
                        „Ohne Musik wäre
                    </div>
                    <div class="character_justify" style="overflow-x: hidden">
                        das Leben ein Irrtum“
                    </div>
                }
                else
                {
                    <div style="text-align: center; letter-spacing: .5em">
                        „Ohne Musik wäre das Leben ein Irrtum“
                    </div>
                }
            </div>
            <div class="text" style="font-size: 1em">
                In unserer Welt schwingen Millionen Frequenzen, ohne die unser Dasein undenkbar wäre, so auch Musik.
                Die Wellen der Töne durchdringen mit Leichtigkeit unsere festen Körper und verhelfen mit ihren
                Schwingungen
                zu großen und kleinen Wundern. Musik dringt bis in unsere Seele und kann uns auf viele Arten verändern,
                neue Erfahrungen schenken und erfreuen. Lass Dir diese Erfahrung nicht entgehen!
            </div>
        </div>
    </div>
</div>

<MediaQuery Media="@Breakpoints.SmallDown" @bind-Matches="isMobile"/>
<MediaQuery Media="@Breakpoints.XSmallDown" @bind-Matches="isMobileSmall"/>

@code {

    private bool isMobileSmall;
    private bool isMobile;
}