.text-vertical-display {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.bg-preise {
    background-image: url("images/Preise_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.price-box {
    max-height: 30%;
    width: 80%;
    position: relative;
    bottom: 10%;
}