@using System.Timers
@using System.Globalization

<div class="fullHeight position-relative" style="overflow-x: hidden; max-width: 100vw">
    <div id="main" class="mainImg position-absolute fullHeight @(blur ? "blur" : "")" style="width: 100%;">
    </div>
    
    <div class="align-items-center row justify-content-center position-absolute fullHeight px-4">
        <div class="col-sm-9">
            <div class="text-black h1 pb-2">
                <div class="character_justify" style="overflow-x: hidden">ganzheitlicher Musikunterricht</div>
            </div>
            <div class="text" style="font-size: 1em">
                Musik hören macht etwas mit uns. Es kann uns fröhlich machen, an etwas erinnern oder Gefühle zum
                Fließen bringen. Wieviel mehr macht es mit uns, selbst Musik zu machen!
                <br>
                <br>
                Wir lernen dabei über Grenzen hinauszuwachsen und uns zu trauen, uns vor anderen zu zeigen,
                auszudrücken was wir fühlen, Freude daran zu haben wer wir sind, was wir können und anderen
                beim Zuhören Freude zu schenken.
            </div>
        </div>
    </div>
</div>

@code {
    
    private bool blur = false;

    public Start()
    {
        StartAnimation();
    }

    private async void StartAnimation()
    {
        await Task.Delay(500);
        
        blur = true;
        StateHasChanged();
    }
}