.mainImg {
    background-image: url("images/img_2983.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 2s;
}

.blur {
    filter: blur(6px);
    opacity: .6;
}