<div id="über-mich" class="bg-übermich px-5 pt-5">

    <!--Hauptteil-->
    <div class="row">
        <div class="col-lg">
            <h1 class="text-center pb-4 ">über mich</h1>

            <div class="row" style="font-size: .9rem; line-height: 1.4em; letter-spacing: .1em">
                <div class="col-lg">
                    <p>
                        Seit ich 6 Jahre alt bin, singe und musiziere ich leidenschaftlich gerne. Erst mit 27 Jahren
                        begann
                        ich mir meinen Kindheitstraum zu erfüllen, Klavier zu lernen. Ein Jahr später traf ich die
                        Entscheidung, auf die Berufsfachschule für Musik zu gehen, um mein Hobby Musik zum Beruf zu
                        machen.<br><br>

                        Ich hatte in der Zeit die Möglichkeit mit Schulkolleginnen ein Hochzeitstrio zu gründen und
                        entschied mich am Ende der Ausbildung, dass ich als Musiklehrerin arbeiten wollte. Ich liebe
                        es,
                        meine Erfahrungen weiterzugeben und Menschen zu zeigen, dass es nie zu spät ist, sich seine
                        Träume
                        zu erfüllen. <br><br>
                        Gesanglich musste ich mich nach der Schule noch auf eine längere Reise begeben, denn ich
                        sang
                        zwar
                        gut, dennoch hatte ich Stimmprobleme und konnte nicht sehr hoch singen. Mir wurde von einer
                        Lehrerin
                        gesagt, dass meine Stimme „kaputt“ wäre und von einer anderen, dass Sie nicht wüsste was bei
                        mir
                        los
                        sei.
                    </p>
                </div>

                <div class="col-lg">
                    <p>
                        Da ich das nicht so stehenlassen konnte, weil ich unbedingt meine Ziele erreichen wollte,
                        machte ich mich selbst auf die Suche nach der Lösung. Ich fand zuerst eine tolle
                        Gesangstechnik
                        namens Speech-Level-Singing, die für mich sehr gut funktionierte. Jahre später, als ich neue
                        Gesangs-Stilrichtungen entdecken wollte, stand ich wieder vor scheinbar unüberwindbaren
                        Grenzen.<br><br>

                        Eine erneute Suche nach der Lösung führte dazu, dass ich verstand, wie ganzheitlich die
                        Stimme
                        des
                        Menschen funktioniert und meine anschliessend vollständige „Stimmheilung“ und der Durchbruch
                        aller
                        Blockaden wurde ein unersetzbarer Grundstock für meine Arbeit als Gesangslehrerin. Es ist
                        eine
                        große
                        Verantwortung, die Singstimme eines Menschen anvertraut zu bekommen und ich glaube mit
                        dieser
                        Verantwortung dank meiner eigenen überwundenen Probleme besonders gut umgehen zu können.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg overflow-hidden row" style="max-width: 500px">
            <div class="d-flex justify-content-center align-self-center pb-2">
                <img src="images/handwriting_2.png" alt="Ich freue mich auf unsere gemeinsame Entdeckungsreise!"
                     class="mt-3 align-self-center"
                     style="object-fit: contain; object-position: center; max-width: 450px">
            </div>

            <div class="d-flex justify-content-end">
                <img src="images/IMG_2965.JPG" alt="Jasmin Wolf, die Lehrerin"
                     class="align-self-end"
                     style="object-fit: contain; width: 60%;">
            </div>
        </div>
    </div>

</div>

@code {
    
}